.hero {
  width: 100%;
  position: relative;
  min-height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 40px 20px; */

  /* background just for testing */
  /* background: #f7e1e6; */
}

/* CENTER CONTENT */
.hero__content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}

/* LEFT SIDE CONTENT */
.hero__content-side-left {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 20px;
  font-weight: 600;
}

/* RIGHT SIDE CONTENT */
.hero__content-side-right {
  position: absolute;
  top: 20%;
  right: 5%;
  font-size: 20px;
  font-weight: 600;
}

/* ----------------------------- */
/*     MOBILE RESPONSIVE         */
/* ----------------------------- */
@media (max-width: 768px) {
  .hero {
    min-height: auto;
    padding: 80px 20px;
  }

  .hero__content {
    position: static;
    transform: none;
    margin-bottom: 40px;
  }

  .hero__content-side-left,
  .hero__content-side-right {
    position: static;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .hero__content {
    font-size: 24px;
  }

  .hero__content-side-left,
  .hero__content-side-right {
    font-size: 16px;
  }
}
