.hero { 
      width:100%; 
      position:relative; 
}
.hero__content {
  position: absolute;
  top:20%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:30px;
  font-weight:bold; 
}
.hero__content-side-left{ 
      position:absolute;
      top:0; 
    

}
.hero__content-side-right{ 
      position:absolute; 
      top:0; 
      right:0; 
}
