.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about__content {
  flex: 1;          /* Takes up half */
  padding-right: 20px;
  display:flex;
  flex-direction:column; 
  align-items: center;
  padding:40px;
}

.about__img {
  flex: 1;          /* Takes up the other half */
  width:480px; 
  height:480px;
  object-fit: cover;
}
