.nav{ 
      height:100px; 
      display:flex; 
      justify-content:space-around;
      align-items:center;
      background:black; 
      color:white; 
}
.nav__heading { 
      font-size:30px;
      font-weight:bold; 
      
}
.nav__links { 
list-style:none;
font-weight:500; 
}
.nav__link{
      text-decoration:none;
      margin-right:18px;
      font-size:20px;
      color:white; 
}
.nav__img{ 
      width:60px; 
      height:60px; 
}